@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Open+Sans|Roboto');



/*    font-family: 'Roboto', sans-serif;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Leckerli One', cursive;*/



html{
    font-size: 14px;
}


img{
    max-width: 100%;
}

body {
    color: #81868E;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
    
}

.dash:after {
    
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #444;
    margin-top: 15px;
    
    
}

.dash.text-center:after {
    margin: 15x auto 0;
}

.dash-white:after {
    background: #fff;
}

header {
    background: rgba(150,150,150 0.6);
}

/*header*/

.navbar-brand {
    font-family: 'Leckerli One', cursive;
    font-size: 2rem;
    color: #E84C3D;
    text-transform: uppercase;
}

.navbar-toggler {
    border-color: #E84c3d !important;
}

.navbar-nav .nav-link {
    
    text-transform: uppercase;
    color: #333B46;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    transition: 0.5s ease;
    
}

.navbar-nav {
    
    background: #fff;
}

   .navbar-nav .nav-link:hover,
   .navbar-nav .nav-item.active .nav-link:active {
       
       background: #E84c3d;
       color: #fff;
   }
   
   .hello article {
       
       height: 100vh;
       display: table-cell;
       vertical-align: middle;
       min-width: 1px;
   }
   
   .hello {
       background-size: cover;
       
   }
   
   .btn-danger, bg-danger {
       
       background-color: #E84C3D;
   }

   
   
   .service-item {
       border: 1px solid #fff;
   }
    
   .service-item:hover {
       
       background:#E84C3D;
       borer-radius:5px;
       border: 1px solid #E84C3D;
       
   }
   .service-icon .fa {
       
       width: 90px;
       height: 90px;
       line-height: 90px;
       background: #E84C3D;
       color: #fff;
       font-size: 40px;
       transition: 0.5s ease;
       border-radius: 50%;
   }
   
   .service-item:hover .service-icon.fa {
       
       background: #fff;
       color: #E84C3D;
   }
   
   .portofolio {
       
       padding: 100px 0;
       background-size: cover;
       
   }